<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokemon Show Page</h1> <br />
     <%=onePokemon.name %> <br />
     <img src="<%=onePokemon.img%>"/> <br />
     <% for(let i = 0; i < onePokemon.type.length; i++) { %> 
     Types: <%=onePokemon.type[i]%> <br />
     <% } %>
    <ul>Stats:
        <li>HP: <%=onePokemon.stats.hp%></li>
        <li>Attack:<%=onePokemon.stats.attack%></li>
        <li>Defense: <%=onePokemon.stats.defense%></li> <br /><br />
    </ul>


     
     <a href="/pokemon/">Back To Index</a>
    </body>
</html>

